div {
    margin-top: 10px;
    margin-bottom: 10px;
}

button.suit {
    margin-left: 6px;
    margin-top: -7px;
    height: 44px;
    width: 44px;
    padding: 0px;
    border-color: rgb(206, 212, 218)
}


button.suit:first-of-type {
    margin-left: 12px;
}

select {
    height: auto;
}