img {
    margin: 3px;
    width: 160px;
    border-radius: 7px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 5px;
}

.selected {
    border: 1px solid blue;
}

@media (max-width: 1200px) { 
    div {
        height: 70px;
        width: 60px;
        overflow: hidden;
    }    
 }


