<!-- <div class="row toggle-mover">
  <div class="col">
    <button type="button" class="btn btn-secondary " (click)="toggleMover()">
      {{(moverHidden ? 'Show' : 'Hide') + ' mover'}}
    </button>
  </div>
</div> -->
<div class="row mobile-layout">
  <div class="col">
    <div class="flex-container mover">
      <app-card [card]="pocket.card1" [selected]="selectedCard == pocket.card1" (click)="setSelected(pocket.card1)"></app-card>
      <app-card [card]="pocket.card2" [selected]="selectedCard == pocket.card2" (click)="setSelected(pocket.card2)"></app-card>
    </div>

    <div class="flex-container card-control">
      <app-card-selector *ngIf="selectedCard" [card]="selectedCard"></app-card-selector>
      <div *ngIf="!selectedCard">
        <button type="button" class="btn btn-secondary" (click)="random()">
          Get random
        </button>
        <button type="button" class="btn btn-secondary reset" (click)="reset()" [disabled]="disabled">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row mobile-layout">
  <div class="col">
    <div class="flex-container btns-control">
      <div style="width: 70%">
        <div class="option" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': matrixVisible}">
            <input type="checkbox" [(ngModel)]="matrixVisible" (focus)="onfocus($event)"> Show moves
          </label>
        </div>

        <div class="option" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': autoHideMatrix}">
            <input type="checkbox" [(ngModel)]="autoHideMatrix" (focus)="onfocus($event)"> Auto hide moves
          </label>
        </div>
        <div class="option" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': pocket.boundaryOnly}">
            <input type="checkbox" [(ngModel)]="pocket.boundaryOnly" (focus)="onfocus($event)"> Challenging moves only
          </label>
        </div>
      </div>
      <div>
        <app-move *ngFor="let move of moves" [move]="move" [selected]="move == selectedMove"></app-move>
      </div>
    </div>
  </div>
</div>