<div class="row">
  <div class="col">
    <div class="flex-container pocket">
      <app-card [card]="pocket.card1" [selected]="selectedCardIndex == 1" (click)="setSelected(1)"></app-card>
      <app-card [card]="pocket.card2" [selected]="selectedCardIndex == 2" (click)="setSelected(2)"></app-card>
    </div>

    <div class="flex-container card-control">
      <app-card-selector *ngIf="selectedCardIndex" [pocket]="pocket" [index]="selectedCardIndex"></app-card-selector>
      <div *ngIf="!selectedCardIndex">
        <button type="button" class="btn btn-secondary" (click)="random()">
          Get random
        </button>
        <button type="button" class="btn btn-secondary reset" (click)="reset()" [disabled]="disabled">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="flex-container btns-control">
      <div style="width: 60%">
        <div class="option" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': matrixVisible}">
            <input type="checkbox" [(ngModel)]="matrixVisible"> Show matrix
          </label>
        </div>

        <div class="option" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': autoHideMatrix}">
            <input type="checkbox" [(ngModel)]="autoHideMatrix"> Auto hide matrix
          </label>
        </div>
        <div class="option" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': pocket.boundaryOnly}">
            <input type="checkbox" [(ngModel)]="pocket.boundaryOnly"> Boundary cells only
          </label>
        </div>
      </div>
      <div style="width: 40%">
        <app-move *ngFor="let move of moves" [move]="move" [selected]="move == selectedMove"></app-move>
      </div>
    </div>
  </div>
</div>