.pocket {
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.option label {
    width: 200px; 
}

.card-control {
    height: 80px; 
    justify-content: center; 
    align-items: center;
}

@media (max-width: 1200px) { 
    .card-control {
        height: 46px; 
    }
}

.reset {
    margin-left: 5px;
}

.btns-control {
    justify-content: center; 
    align-items: top;
    padding-left: 20px;
    padding-right: 20px;
}
