<div class="container">
  <div class="row">
    <!-- First column -->
    <div class="col">
      <!-- Challenges -->
      <div class="row">
        <div class="col">
          <app-challenge></app-challenge>
        </div>
      </div>
    </div>
    <!-- Second column -->
    <div class="col">
      <!-- Pocket -->
      <div class="row">
        <div class="col">
          <app-pocket></app-pocket>
        </div>
      </div>
    </div>
    <!-- Third column -->
    <div class="col">
      <!-- Matrix -->
      <div class="row">
        <div class="col">
          <app-matrix></app-matrix>
        </div>
      </div>
    </div>
  </div>
</div>