<div class="row">
  <div class="col">
    <div class="board-container">
      <div *ngFor="let card of board.cards" [ngClass]="getDisabled(card)">
        <app-card [card]="card" [selected]="selectedBoardCard == card" (click)="onClick(card)" (dblclick)="onDblClick(card)"></app-card>
      </div>
    </div>
    <div>
      <app-card-selector *ngIf="selectedBoardCard" [card]="selectedBoardCard"></app-card-selector>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="board-container">
      <app-card [card]="pocket.card1" [selected]="selectedPocketCard == pocket.card1" (click)="setSelectedPocketCard(pocket.card1)"></app-card>
      <app-card [card]="pocket.card2" [selected]="selectedPocketCard == pocket.card2" (click)="setSelectedPocketCard(pocket.card2)"></app-card>
    </div>
    <app-card-selector *ngIf="selectedPocketCard" [card]="selectedPocketCard"></app-card-selector>
    <div *ngIf="!selectedPocketCard">
      <button type="button" class="btn btn-secondary" (click)="random()">
        Get random
      </button>
      <button type="button" class="btn btn-secondary reset" (click)="reset()" [disabled]="disabled">
        Reset
      </button>
    </div>
</div>
</div>