body {
    background-color: #ffffff;
}

.flex-container {
    display: flex;
    width: 380px;
    /* background-color: lightsalmon; */
}

@media (min-width: 1200px) { 
    .mobile-layout {
        display: inherit;
    }
}

@media (max-width: 1200px) { 
    .mobile-layout {
        display: none;
    }
}
