<div class="flex-container">
  <div>
    <table class="estimate h5">
      <tr>
        <td>Your move:</td>
        <td>{{move?.name}}</td>
      </tr>
      <tr>
        <td>Right move:</td>
        <td [ngClass]="moveEstimate">{{move ? rightMove?.name : ""}}</td>
      </tr>
    </table>
    <div class="raise-size">{{raiseSize}}</div>
    <table class="matrix">
      <tr>
        <td *ngFor="let header of cardHeaders" [className]="headerClass(header, true)">{{header}}</td>
      </tr>
      <tr *ngFor="let row of matrix.data">

        <td [className]="headerClass(cardHeaders[row[0].kind1], false)">{{cardHeaders[row[0].kind1]}}</td>

        <td *ngFor="let cell of row" [className]="class(cell)">
          <app-cell [showPercent]="matrixVisible" [cell]="cell"></app-cell>
        </td>

        <td [className]="headerClass(cardHeaders[row[0].kind1], false)">{{cardHeaders[row[0].kind1]}}</td>

      </tr>
      <tr>
        <td *ngFor="let header of cardHeaders" [className]="headerClass(header, true)">{{header}}</td>
      </tr>
    </table>
  </div>
</div>