<div class="flex-container">
  <div>
    <div class="matrix-info">
      <table class="estimate h5 mobile-layout" [hidden]="activeCell ? false : true">
        <tr>
          <td>Your move:</td>
          <td>{{move?.name}}</td>
        </tr>
        <tr>
          <td>Right move:</td>
          <td [ngClass]="moveEstimate">{{move ? rightMove?.name : ""}}</td>
        </tr>
        <tr>
          <td>Moves:</td>
          <td>{{totalMovesCount}}</td>
        </tr>
        <tr>
          <td>Right moves:</td>
          <td>{{rightMovesPercent}}</td>
        </tr>
      </table>
      <div [hidden]="activeCell ? true : false" [ngClass]="moveContentClass">{{currentMoveContent}}</div>
    </div>
    <table class="matrix">
      <tr>
        <td *ngFor="let header of cardHeaders" [className]="headerClass(header, true)">{{header}}</td>
      </tr>
      <tr *ngFor="let row of matrix.data">

        <td [className]="headerClass(cardHeaders[row[0].kind1], false)">{{cardHeaders[row[0].kind1]}}</td>

        <td *ngFor="let cell of row" [className]="class(cell)" (mouseover)="onMouseOver(cell)" (mouseleave)="onMouseOver(null)" (click)="onMouseClick(cell)">
          <app-cell [showPercent]="matrixVisible" [cell]="cell"></app-cell>
        </td>

        <td [className]="headerClass(cardHeaders[row[0].kind1], false)">{{cardHeaders[row[0].kind1]}}</td>

      </tr>
      <tr>
        <td *ngFor="let header of cardHeaders" [className]="headerClass(header, true)">{{header}}</td>
      </tr>
    </table>
  </div>
</div>