.right {
    color: green;
}

.wrong {
    color: red;
}

.matrix {
    width: 100%;
    table-layout: fixed;
    /* display: block; */
}

.matrix td {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    height: 25px;
}

.matrix td:first-of-type {
    border-width: 0px;
    text-align: center;
}

.matrix td:last-of-type {
    border-width: 0px;
    text-align: center;
}

.matrix tr:first-of-type td {
    border-width: 0px;
    text-align: center;
}

.matrix tr:last-of-type td {
    border-width: 0px;
    text-align: center;
}

.matrix .focused {
    border-width: 3px;
    border-color: black;
}

.raise-move {
    background-color: green;
}

.call-move {
    background-color: yellow;
}

.fold-move {
    background-color: lightgray;
}

.empty-move {
    background-color: rgb(238, 238, 238)
}

.highlighted {
    opacity: 0.7;
}

.matrix td.bold {
    font-weight: bold;
}

.controls {
    justify-content: center; 
    align-items: top;
}

.estimate {
    margin-left: 20px;
    width: 100%;
}

.estimate td:first-of-type {
    height: 30px;
}

.estimate td:last-of-type {
    padding-left: 10px;
}

@media (max-width: 1200px) { 
    .estimate {
        margin-bottom: 0px;
    }
}

.move-content {
    height: 20px;
    margin-left: 20px;
    text-align: center;
}

.raise-content {
    color: darkgreen;
}

.call-content {
    color: darkgoldenrod;
}

.fold-content {
    color: dimgray;
}

